[Unit]
Description=Automates Paystub retrieval and Paystub Printing
after=network-online.target

[Service]
Restart=on-failure
# Set working directory to custom directory
WorkingDirectory=/opt/node-apps/Paycheck-Printer
# Set ExecStart directory to custom directory
ExecStart=/usr/local/bin/node /opt/node-apps/Paycheck-Printer/Paystub.js

[Install]
WantedBy=multi-user.target
